
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body{
  background-color: black;
  color: white;
}
html{
  scroll-behavior: smooth;
}
.active-link {
  border-bottom: 2px solid #7B61FF;
  padding-bottom: 4px;
  transition: all 0.1s ease;
}